.new-user {
  padding: 7px;
}
.ant-form-item-label > label {
  font-weight: bold;
}
/* .custom-switch {
  background-color: #f0f0f0;
} */

.custom-switch {
  background-color: #ef2222;
}
.ant-switch.ant-switch-checked {
  background-color: rgb(21, 181, 26);
}
