.layout-parent {
  background-color: whitesmoke;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px;
  height: 100vh;
  gap: 20px;
  overflow-x: hidden !important;
  /* overflow-y: hidden !important; */
}

.body {
  width: 100%;
}
.header {
  padding: 0px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.search {
  width: 600px;
}
.add-button {
  border-radius: 5px;
  background-color: #f26f21;
  border: none;
  color: white;
}

.sidebar {
  background-color: #f26f21;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  padding: 10px 30px;
  flex-direction: column;
  height: 127vh;
}
.content {
  background-color: whitesmoke;
  /* overflow-y: scroll !important;
  overflow-x: hidden !important; */
  height: 96vh;
}
.children {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  color: white;
  padding: 10px 5px 5px 5px;
  align-items: center;
  justify-content: center;
}

.role {
  color: white;
  font-size: 16px;
}
.menu {
  margin-top: 120px;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  transition: all;
  gap: 20px;
}
.active-menu-item {
  border: 2px solid white;
  border-radius: 5px;
}
.menu-item i {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}
.menu-item span {
  color: white;
  font-size: 18px;
}
.sidebar-header {
  display: flex;
  flex-direction: column;
}
.sidebar-collapsed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-collapsed {
  text-align: center;
  width: 50px;
  color: white;
  width: 50px;
  padding-left: 30px;
}
/* ::-webkit-scrollbar {
  display: none;
} */
