.layout-parent {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px;
  height: 100vh;
  gap: 20px;
  overflow-x: hidden !important;
}

.body {
  width: 100%;
}
.header {
  /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.479); */
  width: 45px;
  padding: 10px;
}

.sidebar {
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  justify-content: start;
  padding: 10px 30px;
  flex-direction: column;
}
.content {
  padding: 10px 0px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 85vh;
}
.logo {
  color: white;
  padding: 10px 5px 5px 5px;
  align-items: center;
  justify-content: center;
}

.role {
  color: white;
  font-size: 16px;
}
.menu {
  margin-top: 120px;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  transition: all;
  gap: 20px;
}
.active-menu-item {
  border: 2px solid white;
  border-radius: 5px;
}
.menu-item i {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}
.menu-item span {
  color: white;
  font-size: 18px;
}
.sidebar-header {
  display: flex;
  flex-direction: column;
}
.sidebar-collapsed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-collapsed {
  text-align: center;
  width: 50px;
  color: white;
  width: 50px;
  padding-left: 30px;
}
