:root {
  --primary: #058359;
  --secondary: #ac4425;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-size: 17px;
  font-family: "Open Sans", sans-serif !important;
}
